*{
	padding: 0;
	margin: 0;
	font-family: 'Hubballi', cursive;
	color: black;
}
header{
	height: 70px;
	margin-top: 10px;
}
header h1{
	display: inline-block;
	float: left;
	padding: 15px 24px;
	text-transform: uppercase;
}
header h1 a:hover{
	color: #00E8FF;
}
header h1 a{
	transition: 0.5s;
}
header ul{
	float: right;
}
header ul li{
	padding: 24px;
	display: inline-block;
}
header ul li a:hover{
	color: #00E8FF;
}
header ul li a{
	transition: 0.5s;
}
a{
	text-decoration: none;
}
.container{
	width: 90%;
	margin: 0 auto;
}
.container:after{
	content: '';
	display: block;
	clear: both;
}
.mobile-menu{
	float: right;
	display: none;
	padding: 18px;
}
.mobile-menu:hover{
	cursor: pointer;
}
.sidebar{
	position: fixed;
	top: 0;
	bottom: 0;
	left: -300px;
	width: 300px;
	background-color: rgba(16, 47, 80, .9);
	transition: 0.3s;
	z-index: 9999;
}	
.sidebar ul li a{
	color: white;
}
.sidebar ul li{
	padding: 24px;
	transition: 0.3s;
	transition-property: background-color;
}
.sidebar ul li:hover{
	background-color: red;
}
#check:checked ~ .sidebar{
	left: 0;
}
#check{
	display: none;
}
.banner{
	background-color: #00E8FF;
	border-radius: 50px;
	padding-top: 50px;
	padding-bottom: 200px;
	margin: 30px 0;
}
.banner img{
	width: 200px;
	border-radius: 20px;
	margin-bottom: 10px;
}
.banner h2{
	font-size: 40px;
}
.banner p{
	font-size: 25px;
}
section h3{
	padding: 30px 0 30px 0;
	text-align: center;
	margin:70px 0 20px 0;
	position: relative;
}
section h3::before{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 120px;
	height: 1px;
	background-color: #ddd;
	left: calc(50% - 60px);
}
section h3::after{
	content: '';
	display: block;
	position: absolute;
	bottom: -1px;
	width: 40px;
	height: 4px;
	background-color: #0068FF;
	left: calc(50% - 20px);
}
#about p{
	text-align: justify;
	text-indent: 30px;
	line-height: 25px;
	margin-bottom: 10px;
}
#skills, #contact{
	background-color: #f9f9f9;
}
#skills .bar{
	border: 1px solid;
	border-radius: 20px;
	background-color: #fff;
	height: 30px;
	margin: 5px 0 20px 0;
}
.bar .nilai{
	height: 30px;
	background-color: #00E8FF;
	display: inline-block;
	text-align: center;
	border-radius: 20px;
}
.html{
	width: 95%;
}
.css{
	width: 90%;
}
.js{
	width: 85%;
}
.php{
	width: 80%;
}
.col-4{
	width: 25%;
	box-sizing: border-box;
	padding: 5px;
	float: left;
	text-align: center;
}
.col-4 img{
	width: 150px;
}
.col-4 a:hover img{
	transform: scale(1.2);
}
.col-3{
	width: 33.3%;
	box-sizing: border-box;
	float: left;
	text-align: center;
	padding: 50px 30px;
}
.col-3 h4{
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}
@media(max-width: 768px){
	.mobile-menu{
		display: block;
	}
	header ul{
		display: none;
	}
	.col-4{
		width: 50%;
	}
	.col-3{
		width: 100%;
	}
}
footer{
	background-color: #333;
	padding: 50px;
	text-align: center;
}
footer small{
	color: #fff;
}
/*
Hover fungsinya ketika cursor mendekati object, maka object akan melakukan aksi
#check adalah id="check"

<!-- Link -->>
https://htmlcolorcodes.com/
https://fonts.google.com/
https://cdnjs.com/libraries/font-awesome
https://fontawesome.com/icons
*/
